@charset 'utf-8';

/* Sticky footer */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* Post & comment components */

.post-component, .comment-component {
    border: 1px solid;
}
